<mat-card class="card ml-auto mr-auto">
    <mat-card-header>
      <img mat-card-avatar class="header-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      <mat-card-subtitle>{{ eventInput.title }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{eventInput.flyerFront}}" alt="Event flyer">
    <mat-card-content>
        <div class="d-flex flex-row">
            <mat-icon color="primary">pin_drop</mat-icon>
            <a href="{{ eventInput.venue.direction }}" target="_blank">{{ eventInput.venue.name }}</a>
        </div>
        <div class="d-flex flex-row">
            <span>| Starts: {{ eventInput.startTime | date: 'dd.M.yyyy, HH:mm:ss' }}</span>
        </div>
        <div class="d-flex flex-row">
            <span>| Ends: {{ eventInput.endTime | date: 'dd.M.yyyy, HH:mm:ss' }}</span>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-fab color="primary"><mat-icon>add</mat-icon></button>
    </mat-card-actions>
</mat-card>