.card {
    max-height: min-content;
}
  
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.cover-img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    height: 450px;
}

mat-card-subtitle {
    color: black;
}