<div *ngFor="let dateEvents of eventsByDate">
    <div class="container">
        <div class="row date-row">
            <div class="date-container">
                <h3 class="primaryColorClr ml-3"><strong>{{ dateEvents.date | date: 'EE MMM d y' | uppercase }}</strong></h3>
            </div>
        </div>
        <div class="row">
            <app-event *ngFor="let event of dateEvents.events" class="col-xs-12 col-md-6 col-lg-6 col-xl-4 mb-3" [eventInput]="event"></app-event>
        </div>
    </div>
</div>