.search-form-container {
    font-size: small;
    color: white;
}

mat-icon {
    margin-right: 1rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255, 255, 255, 0.2);
    margin-top: 1rem;
}

::ng-deep .mat-input-element::placeholder{

    color:white;
}

.search-btn {
    margin-left: 1rem;
}
